@model WebApplication2.coursework.LoginModel
@{
    ViewBag.Title = "Lucky";
}

<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>

<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"
        asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
        asp-fallback-test="window.jQuery && window.jQuery.validator">
</script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"
        asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
        asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive">
</script>

<h1>Welcom in Lucky</h1>
@if (!string.IsNullOrEmpty(User.Identity.Name))
{
<h1>Hello @User.Identity.Name</h1>
<a role="button" asp-controller="Account" asp-action="Logout" class="btn btn-danger">Log out</a>
}
else
{
<form asp-action="Login" asp-controller="Account" asp-anti-forgery="true" method="post">
    <div class="validation" asp-validation-summary="ModelOnly" />
    <div class="form-group">
        <label class="control-label" asp-for="Login">Login</label>
        <input required type="text" asp-for="Login" class="form-control" />
        <span class="field-validation-valid" asp-validation-for="Login" />
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label">Password</label>
        <input required type="password" asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" />
    </div>
    <button type="submit" class="btn btn-primary">Log in</button>
    <br/>
</form>
<br/>
<text>OR</text>
<br/>
<a asp-action="Register">
    <br/>
    <input type="submit" value="Register" class="btn btn-default"/>
</a>
}

@section scripts{

    <environment names="Development">
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"
                asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"
                asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive">
        </script>
    </environment>
}